<?xml version="1.0"?>

<launch>
    <!-- Load the urdf into the parameter server. -->
    <arg name = "drone_name" default="$(optenv RMTT_NAMESPACE /)" />
    <group ns="$(arg drone_name)">
        <param name="robot_description" command="xacro $(find rmtt_description)/urdf/tello_talent.xacro prefix:=$(arg drone_name)"/>
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="rmtt_description" />
    </group>
</launch>
